body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 400px;
  margin: 0;
  padding: 16px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d1d1d;
    color: #fff;
  }
  
  input, textarea, button, select {
    background-color: #242424;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px; 
  }

  input:focus, textarea:focus, button:focus {
    outline: 1px solid #555;
  }
}

select {
  width: 100%;
}

input {
  width: 100%;
}

textarea {
  resize: vertical;
  width: 100%;
}

button {
  display: block;
  margin-top: 4px;
  margin-bottom: 12px;
  width: 100%;
}
